doctype html
html
    head
        style
            include style.css
    body
        div.footer E-Store

        block content

        div.footer Thanks for cooperation.
            | Best regards
            br
            a(href=frontendURL) Site to reply