extends container
block content
    p #{userName}
    div
        | You forgot your password?
        p This is how you can reset it

        button
            a(href=forgotPasswordUrl) CLICK HERE TO RESET